<h1 class="ls-title-intro ls-ico-bell-o">
  <%= Promotion.model_name.human %>
</h1>

<div class="ls-alert-danger"><%= alert %></div>
<div class="ls-alert-success"><%= notice %></div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <a href="#" >
        <%= @promotion.description %>
      </a>
      <small><%= @promotion.prefix %></small>
    </div>
    <div class="ls-group-btn ls-group-active">
      <% if @promotion.waiting_for_approval? %>
        <%= link_to t('.approved_button'), approve_promotion_path(@promotion), 
                    class: 'ls-btn-primary', method: :post %>
      <% else %>
        <%= link_to t('.approved_button'), approve_promotion_path(@promotion), 
                    class: 'ls-btn-primary', method: :post, disabled: :true %>
      <% end %>

      <% if @promotion.approved? %>
        <%= link_to t('.generate_coupons'), generate_coupons_promotion_path(@promotion), 
                    class: 'ls-btn-primary', method: :post %>
      <% else %>
        <%= link_to t('.generate_coupons'), generate_coupons_promotion_path(@promotion), 
                    class: 'ls-btn-primary', method: :post, disabled: :true %>
      <% end %>

      
      
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">
        <%= Promotion.human_attribute_name('discount_percentage') %>
      </span>
      <strong>
        <%= format("%.0f", @promotion.discount_percentage) %>%
      </strong>
    </div>
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">
        <%= Promotion.human_attribute_name('max_discount_value') %>
      </span>
      <strong>
        <%= format("%.0f", @promotion.max_discount_value) %>%
      </strong>
    </div>
  </div>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">
        <%= Promotion.human_attribute_name('start_date') %>
      </span>
      <strong>
        <%= @promotion.start_date.strftime('%d/%m/%Y') %>
      </strong>
    </div>
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">
        <%= Promotion.human_attribute_name('end_date') %>
      </span>
      <strong>
        <%= @promotion.end_date.strftime('%d/%m/%Y') %>
      </strong>
    </div>
  </div>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">
        <%= Promotion.human_attribute_name('max_usage') %>
      </span>
      <strong>
        <%= @promotion.max_usage %>
      </strong>
    </div>
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">
        <%= Promotion.human_attribute_name('status') %>
      </span>
      <strong>
        <%= @promotion.status %>
      </strong>
    </div>
  </div>
</div>

<% unless @cupons.empty? %>
  <div class="ls-list">
    <header class="ls-list-header">
      <div class="ls-list-title col-md-9">
        <a href="#" ><%= t('.coupons_title') %></a>
        <small><%= t('.availabled_coupons') %></small>
      </div>
      <div class="col-md-12">
        <% @cupons.each do |coupom| %>
          <%= "#{coupom.code}" %>
        <% end %>
      </div>
    </header>
  </div>
<% end %>